// ==============================================
// 直接定義變數（或用 @import 匯入 tokens.module.scss）
// ==============================================
@use "./tokens.module.scss" as *;

@font-face {
  font-family: 'Mantou sans';
  src: url('/fonts/MantouSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// 僅在 global.scss 第一次載入並以 with(...) 覆寫 bootstrap 的變數
// @use "../../../node_modules/bootstrap/scss/bootstrap" as bs with ($primary: $primary,
//   $secondary: $secondary,
//   $success: $success,
//   $danger: $danger);

// ==============================================
// 自訂樣式
// ==============================================
$font-family-base: "Arial", "Microsoft JhengHei", sans-serif;
$font-size-base: 1rem;

// 全域樣式
body {
  font-family: $font-family-base;
  line-height: 1.6;
  background: #ffce00 !important;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: $brown;
  text-decoration: none;
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
  color: $brown !important;

  &:hover {
    background-color: $primary-hover !important;
    border-color: $primary-hover !important;
    color: $brown !important;
  }

  &:active {
    background-color: $primary-active !important;
    border-color: $primary-active !important;
    color: $brown !important;
  }
}

.mber_title {
  font-family: "Mantou sans", serif;
  font-style: bold;
  font-size: 2rem;
  color: $brown;
  letter-spacing: 8px;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
}

//====== all zone scrollbar style ======
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(139, 139, 139, 0.534) transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

//====== end of scrollbar style =====

// the back icon placed in all member related pages
.back-icon {
  position: fixed;
  top: 2%;
  left: 5%;
  font-size: 2rem;
  color: #fff;
  background: $success;
  border-radius: 50%;
  padding: 8px 16px;
  cursor: pointer;
  z-index: 20;
  transition: 0.2s;
}

.back-icon:hover {
  color: #ffd600;
  transform: scaleX(1.2);
}

// ==============================================

// =========== notification bell ===========
figure.notify {
  position: fixed;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-block-start: 0em;
  margin-block-end: 0em;

  top: 3%;
  right: 5%;


  .bell {
    transition: transform 0.3s;

    &:hover {
      animation: shake 0.5s;
    }
  }

  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }

    20% {
      transform: rotate(-15deg);
    }

    40% {
      transform: rotate(15deg);
    }

    60% {
      transform: rotate(-10deg);
    }

    80% {
      transform: rotate(10deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }


  .counter {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
  }

  .counter span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: $danger;
    font-weight: bold;
  }

  .counter img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 20px;
    height: 20px;
  }
}

// google map infowindow styles
.gm-style-iw {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 0.5rem !important;

  // header
  .gm-style-iw-chr {

    button.gm-ui-hover-effect {
      display: flex !important;
      align-items: center !important;
      justify-content: end !important;

      span {
        margin: 0 !important;
        ;
      }
    }

    .gm-style-iw-ch {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      h4 {
        margin: 0;
        text-align: start;
        font-size: 1.3rem !important;
        font-weight: bold;
        overflow: default;
      }
    }
  }

  .gm-style-iw-d {
    overflow: hidden !important;

    .content-box {
      width: 100%;


      img {
        width: 100%;
        height: 7rem;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 0.5rem;
      }

      .adress {
        font-size: 1rem;
        color: #555;
      }

      .bat-status {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1rem;

        i {
          display: inline-block;
          vertical-align: middle;
          text-align: center;
          font-size: 1.2rem;
          margin-right: 0.3rem;
        }

        p:nth-child(1) i {
          color: $success;
        }

        p:nth-child(2) i {
          color: $primary;
        }

      }
    }
  }
}