@use './global.scss' as bs ; 

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
#search-bar{
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 80%;
  max-width: 600px;
}
