@use "./tokens.module.scss" as g;

$search-bar-radius: 1.4rem;

.search-bar-container {
  padding-top: 1.5rem;
}

#search-bar {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 80%;
  max-width: 600px;
}

// google map infowindow styles
.gm-style-iw {
  .site-name {
    font-size: 1.2rem;
    font-weight: bold;
    overflow: default;
  }

  .adress {
    font-size: 1rem;
    color: #555;
  }

  .bat-status {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

// search bar
.search-bar-container {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 80%;
  max-width: 600px;

  .search-bar {
    input {
      width: 100%;
      padding: 0.8rem 1.5rem;
      border: none;
      outline: 0px solid g.$primary;
      font-size: 16px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: outline 0.1s linear;
      border-radius: $search-bar-radius;

      &:focus {
        outline: 3px solid g.$primary;
      }
    }
  }

  .suggestions-list {
    margin-top: 1rem;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: $search-bar-radius;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    /* Scrollbar styles */
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    -webkit-scrollbar-button {
      display: none;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0.5em 1em;

      li.selected-suggestion {
        background-color: #f0f0f0;
        /* 灰色背景 */
        cursor: pointer;
        /* 鼠標指針樣式 */
      }

      li {
        padding: 10px 15px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        border-bottom: #ececec 1px solid;
        border-radius: 5px;

        &:hover {
          background-color: #f0f0f0;
        }

        .suggestion-primary {
          font-size: 17px;
          font-weight: bold;
          color: #535353;
        }

        .suggestion-secondary {
          font-size: 14px;
          color: #b3b3b3;
        }

        .local-station {
          color: g.$primary;
          font-weight: bold;
        }
      }
    }
  }
}

// HUD styles
.hud-container {
  color: g.$brown;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: transparent;

  .QR-code {
    position: inherit;

    button {
      position: inherit;
      bottom: 3rem;
      left: 50%;
      transform: translateX(-50%);
      width: 130px;
      height: 130px;
      background-color: g.$primary;
      border: none;
      border-radius: 1.5rem;
      box-shadow: gray 0px 0px 5px 0px;

      i {
        color: g.$brown;
        font-size: 5rem;
        vertical-align: middle;
        line-height: 1;
        display: inline-block;
      }

      &:hover {
        background-color: g.$primary-hover;
      }

      &:active {
        box-shadow: gray 0px 0px 2px 0px;
      }
    }
  }

  .rent-info {
    position: inherit;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90vw;
    max-width: 500px;
    height: 40vh;
    background-color: rgb(255, 249, 232);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1.5rem 1rem 1.5rem;
    z-index: 1100;
    transition: transform 0.3s ease-in-out;

    .charging-status {
      width: 100%;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      color: g.$primary;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      div.status-circle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;


        svg {
          height: 150px;
          transition: transform 0.3s ease; // 添加旋轉動畫

          circle {
            transition: stroke 0.5s ease; // 電量環顏色變化動畫

            &.background {
              stroke: #e0e0e0; // 背景環樣式
            }

            &.progress {
              stroke: #ffce00; // 預設電量環顏色

              &.charging {
                stroke: #00ff3c; // 充電中顏色
              }
            }
          }

          text {
            fill: g.$brown; // 文字顏色
            font-size: 0.8rem;

            &.percentage {
              font-weight: bold;
            }

            &.status {
              fill: #666;
            }
          }
        }
      }
      div.status-text{
        text-align: center;
      }
    }
  }

  .buttons {
    position: inherit;
    bottom: 2rem;
    right: 2rem;


    button {
      width: 2.5rem;
      height: 2.5rem;
      background-color: g.$primary;
      border-radius: 50%;
      border: none;
      margin-bottom: 0.8rem;

      display: flex;
      align-items: center;
      justify-content: center;

      box-shadow: gray 0px 0px 5px 0px;

      &:hover {
        background-color: g.$primary-hover;
      }

      &:active {
        box-shadow: gray 0px 0px 2px 0px;
      }

      i {
        color: g.$brown;
        font-size: 1.5rem;
        vertical-align: middle;
        line-height: 1;
        display: inline-block;
      }
    }
  }

  .locate-button:hover {
    background-color: g.$primary-hover;
  }

  .return-warning {
    position: inherit;
    bottom: 12rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    text-align: center;
    max-width: 90vw;
    transition: all 0.2s ease-in-out;
  }

  .overtime-overlay {
    position: inherit; // 改為 fixed，覆蓋整個頁面
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(134, 134, 134, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 1200; // 低於視窗
    pointer-events: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    .overtime-window {
      padding: 1rem 2rem;
      border-radius: 1.3 rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 1rem;
      text-align: center;
      max-width: 80vw;
      background-color: #f0f0f0;
      border-radius: 1.3rem;
      transition: all 0.2s ease-in-out;
      z-index: 1201;

      .header {
        color: g.$danger;
      }

      .handle-btns {
        border: none;
        outline: none;
        display: flex;
        justify-content: center;
        gap: 1.5rem;

        button {
          color: g.$secondary;
        }

        button.cancel {
          color: gray;
          filter: grayscale(0.9);
        }
      }
    }
  }
}