@use "./tokens.module.scss" as mb;

.mber-info-page {
  width: 100vw;
  min-height: 100vh;
  background: url("../../../public/lightning.png") left top no-repeat,
    linear-gradient(to bottom, #ffd600 0%, #fff9e3 100%) no-repeat;
  background-size: auto 100vh, cover;

  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 0;
  overflow: hidden;
  flex: 1;

}

.back-icon {
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: 2rem;
  color: #fff;
  background: mb.$success;
  border-radius: 50%;
  padding: 8px 16px;
  cursor: pointer;
  z-index: 20;
  transition: 0.2s;
}

.back-icon:hover {
  color: #ffd600;
  transform: scaleX(1.2);
}

.mber_info_container {
  max-width: 100vw;
  padding-top: 128px;
}

.mber_info_header {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 20;

  .notify-btn {
    width: 36px;
    height: 36px;
    cursor: pointer;
    background: none;
    border: none;
  }
}

.mber_info_section {
  max-width: 400px;
  margin: 0 auto;
  padding: 24px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 600px;
  overflow-y: auto;
}

@media (max-width: 600px) {
  .mobile-only {
    display: block;
  }

  .mobile-only-logo {
    display: block;
    z-index: 30;
  }

  .mobile-arc-bg {
    width: 100%;
    height: 120px;
    background: #ffd600;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 10;
  }

  .mobile-arc-content {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    z-index: 11;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.mber_contact_container {
  max-width: 100vw;
  color: mb.$brown;

  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 2rem;
  ;

  .mber_contact_header {


    .mber_contact_button_header {
      background-color: mb.$primary;
      padding-top: 2rem;
      width: 100vw;
      padding-bottom: 2rem;
      border-radius: 0 0 100% 100%;

      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      @media (min-width: 576px) {
        border-radius: 0 0 50% 50%;
        background-color: transparent;
        box-shadow: none;
        
      }
      .mber_contact_buttons {
        display: flex;
        gap: 2.5rem;
        padding: 0 5rem;
        margin-bottom: 1rem;
        flex-direction: row;
        justify-content: center;

        .button-group {
          text-decoration: none;
          color: mb.$brown;
          display: flex;
          gap: 0.6rem;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          button {
            background: mb.$secondary;
            border: none;
            line-height: 1;
            color: white;
            padding: 1.5rem;
            border-radius: 999px;
            font-size: 3rem;
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s ease;

            i {
              display: inline-block;
            }

            &:hover {
              background-color: darken(mb.$primary, 10%);
            }
          }
        }

      }
    }

    h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
  }

  .mber_contact_item_box {
    margin: 0px 3rem;
    padding-top: 1rem;
    height: 100%;
    border-radius: 1rem;
    overflow-y: auto;
    padding-left: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 6rem;

    .mber_contact_header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .mber_contact_item {
      background-color: mb.$primary;

      width: 100%;
      padding: 1rem;

      margin-bottom: 1.5rem;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      h3 {
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        cursor: pointer;
      }

      span {
        transition: all 0.5s ease-in-out;
        transform: rotate(0deg);

        &.active {
          transform: rotate(180deg);
          color: white;
        }
      }

      p {
        overflow: hidden;
        line-height: 1.5;
        max-height: 0px;
        margin: 0px;
        padding: 0px;
        transition: all 0.5s ease-in-out;

        a {
          color: rgb(56, 56, 56);
          font-weight: bold;
          text-decoration: none;
        }

        &.active {
          max-height: 300px !important; // Adjust based on content
        }
      }
    }
  }
}