$primary: #ffce00;
$secondary: #f16100;
$success: #00ff3c;
$danger: #d65562;
$brown: #6c4023;
$deactivate: #fdcf6bda;
$deactivate-hover: #fad5a2da;
$primary-hover: darken($primary, 10%);
$secondary-hover: darken($secondary, 10%);
$success-hover: darken($success, 10%);
$danger-hover: darken($danger, 10%);
